%h1 Change your password

.col-8.mr-auto.ml-auto
  .card
    .card-body
      = form_with model: current_user, class: 'form-horizontal', local: true do |f|
        .form-group
          = f.label :name, 'Username'
          = f.text_field :name, class: 'form-control-plaintext', id: 'userName', readonly: true
        .form-group
          = f.label :old_password, 'Old password'
          = f.password_field :old_password, class: 'form-control', id: 'userOldPassword', required: true
        .form-group
          = f.label :password, 'New password'
          = f.password_field :password, class: 'form-control', id: 'userPassword', required: true
        .form-group
          = f.label :password_confirmation, 'Confirm new password'
          = f.password_field :password_confirmation, class: 'form-control', id: 'userPasswordConfirmation', required: true
        .form-group
          = f.submit 'Save changes', class: 'btn btn-primary d-inline-block'
          %a.btn.btn-danger.d-inline-block{ href: user_path, data: { method: :delete, confirm: 'This will irreversibly delete your account and all associated data. Are you sure you want to continue?' }, rel: :nofollow } Delete account