%h1 Login

.col-8.mr-auto.ml-auto
  .card
    .card-body
      = form_with model: @user, scope: :user, url: do_login_users_path, class: 'form-horizontal', local: true do |f|
        .form-group
          = f.label :name, 'Username'
          = f.text_field :name, class: 'form-control', id: 'userName', required: true
        .form-group
          = f.label :password, 'Password'
          = f.password_field :password, class: 'form-control', id: 'userPassword', required: true
        .form-group
          = f.submit 'Login', class: 'btn btn-primary'
