%h1 Register a new user account

.col-8.mr-auto.ml-auto
  .card
    .card-body
      = form_with model: @user, scope: :user, class: 'form-horizontal', local: true do |f|
        .form-group
          = f.label :name, 'Username'
          = f.text_field :name, class: 'form-control', id: 'userName', required: true
        .form-group
          = f.label :password, 'Password'
          = f.password_field :password, class: 'form-control', id: 'userPassword', required: true
        .form-group
          = f.label :password_confirmation, 'Confirm password'
          = f.password_field :password_confirmation, class: 'form-control', id: 'userPasswordConfirmation', required: true
        .form-group
          = f.submit 'Register', class: 'btn btn-primary'
