div.counter-view, div.fullscreen-counter-view {
    text-align: center;
}

div.counter-view {
    div.counter-count {
        font-size: 200px;
    }

    div.counter-description {
        font-size: 50px;
    }

    div.counter-record {
        font-size: 30px;
        span.counter-record-value {
            font-weight: bold;
        }
    }
}

div.fullscreen-counter-view {
    div.counter-count {
        font-size: 400px;
    }

    div.counter-description {
        font-size: 100px;
    }

    div.counter-record {
        font-size: 50px;
        span.counter-record-value {
            font-weight: bold;
        }
    }
}

div.container-fluid.fullscreen-container {
    height: 100vh;
}