%h1 Collaborators for counter #{@counter.name}
- if @collaborations.blank?
  .alert.alert-info No collaborators yet
- else
  %table.table.table-striped
    %thead
      %tr
        %th{ scope: 'col' } Name
        %th{ scope: 'col' }
    %tbody
      - @collaborations.each do |collaboration|
        %tr
          %td= collaboration.user.name
          %td
            %a.btn.btn-danger{ href: counter_collaboration_path(@counter, collaboration), data: { method: :delete, confirm: 'Are you sure you want to delete this collaborator?' } } Delete
= form_with(model: @new_collaboration, url: counter_collaborations_path(@counter), local: true) do |f|
  .form-row
    .col-3
      = f.select :user_id, options_from_collection_for_select(@available_users, :id, :name), {}, id: 'collaborationUserId', title: 'Select new collaborator...', data: { live_search: :true, width: '100%' }, required: true
    .col-2
      = f.submit 'Add collaborator', class: 'btn btn-success'