.counter-count{ data: { id: counter.id } }= counter.current_value
.counter-description= counter.full_description
.counter-record
  (Record:
  = succeed ')' do
    %span.counter-record-value= counter.record_value