- if counters.blank?
  .alert.alert-info No counters yet
- else
  %table.table.table-striped
    %thead
      %tr
        - if view == :collaborator
          %th{ scope: 'col' } User
        %th{ scope: 'col' } Name
        %th{ scope: 'col' } Slug
        %th{ scope: 'col' } Description
        %th{ scope: 'col' } Last date (UTC)
        %th{ scope: 'col' } Public
        %th{ scope: 'col' } Current value
        %th{ scope: 'col' } Record value
        %th{ scope: 'col' }
    %tbody
      - counters.each do |counter|
        %tr
          - if view == :collaborator
            %td= counter.user.name
          %td= counter.name
          %td= counter.slug
          %td= counter.description
          %td= counter.last_date.strftime('%Y-%m-%d %H:%M')
          %td= counter.public?.to_s
          %td= counter.current_value
          %td= counter.record_value
          %td
            %button.btn.btn-secondary.dropdown-toggle{ type: :button, id: :counterActionsDropdownButton, data: { toggle: :dropdown }, aria: { haspopup: :true, expanded: :false } } Action
            .dropdown-menu{ aria: { labelledby: :counterActionsDropdownButton } }
              %a.dropdown-item{ href: counter_path(counter.slug) } Show
              %a.dropdown-item{ href: fullscreen_counter_path(counter.slug) } Fullscreen
              %a.dropdown-item{ href: reset_counter_path(counter), data: { method: :post } } Reset
              - if counter.user == current_user
                %a.dropdown-item{ href: counter_collaborations_path(counter) } Manage collaborators
                %a.dropdown-item{ href: edit_counter_path(counter) } Edit
                %a.dropdown-item{ href: counter_path(counter), data: { method: :delete, confirm: 'Are you sure you want to delete this counter?' } } Delete