.col-8.mr-auto.ml-auto
  = form_with model: counter, class: 'form-horizontal', id: 'counterForm', local: true do |f|
    .form-group
      = f.label :name, 'Name'
      = f.text_field :name, class: 'form-control', id: 'counterName', required: true
    .form-group
      = f.label :slug, 'Slug'
      = f.text_field :slug, class: 'form-control', id: 'counterSlug'
    .form-group
      = f.label :description, 'Description'
      = f.text_field :description, class: 'form-control', id: 'counterDescription', required: true
    .form-group
      = f.label :last_date, 'Last date (UTC)'
      = f.text_field :last_date, value: (counter.last_date || Time.current).strftime('%Y-%m-%d %H:%M'), class: 'form-control', id: 'counterLastDate', required: true
    .form-group
      .custom-control.custom-checkbox
        = f.check_box :public, class: 'custom-control-input', id: 'counterPublic'
        = f.label :public, 'Public?', class: 'custom-control-label', for: 'counterPublic'
    .form-group
      = f.submit 'Save', class: 'btn btn-primary'