%h1 Your counters
= render partial: 'counters_list', locals: { counters: @counters, view: :regular }
%a.btn.btn-success{ href: new_counter_path } Add new counter
%h2.mt-3 Your collaborator counters
= render partial: 'counters_list', locals: { counters: @collaborator_counters, view: :collaborator }