!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title Days Since
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-dark.navbar-expand-md.mb-2
      %a.navbar-brand{ href: root_path } Days Since
      %button.navbar-toggler{ type: :button, data: { toggle: :collapse, target: '#mainNavbarContent' }, aria: { controls: 'mainNavbarContent', expanded: false, label: 'Toggle navigation' } }
        %span.navbar-toggler-icon
      %div.collapse.navbar-collapse#mainNavbarContent
        %ul.navbar-nav.mr-auto
          %li.nav-item{ class: controller_name == 'home' ? 'active' : '' }
            %a.nav-link{ href: root_path } Home
          - if current_user.present?
            %li.nav-item{ class: (controller_name == 'counters' && !%w[show fullscreen].include?(action_name)) || (controller_name == 'collaborations') ? 'active' : '' }
              %a.nav-link{ href: counters_path } Your counters
        %ul.navbar-nav.ml-auto
          - if current_user.blank?
            %span.navbar-text.pr-2 Not logged in
            %li.nav-item{ class: (controller_name == 'users' && %w[login do_login].include?(action_name)) ? 'active' : '' }
              %a.nav-link{ href: login_users_path } Login
            %li.nav-item{ class: (controller_name == 'users' && %w[new create].include?(action_name)) ? 'active' : '' }
              %a.nav-link{ href: new_user_path } Register
          - else
            %span.navbar-text.pr-2 Welcome, #{current_user.name}!
            %li.nav-item{ class: (controller_name == 'users' && %w[edit update].include?(action_name)) ? 'active' : '' }
              %a.nav-link{ href: edit_user_path } Change password
            %li.nav-item
              %a.nav-link{ href: logout_users_path, data: { method: :delete }, rel: :nofollow } Logout
    .container
      .row
        .col-12
          - if flash[:success]
            .alert.alert-success.alert-dismissible.fade.show{ role: :alert }
              = flash[:success]
              %button.close{ type: :button, data: { dismiss: 'alert' }, aria: { label: :Close } }
                %span{ aria: { hidden: :true } } &times;
          - if flash[:notice]
            .alert.alert-info.alert-dismissible.fade.show{ role: :alert }
              = flash[:notice]
              %button.close{ type: :button, data: { dismiss: 'alert' }, aria: { label: :Close } }
                %span{ aria: { hidden: :true } } &times;
          - if flash[:error]
            .alert.alert-danger.alert-dismissible.fade.show{ role: :alert }
              = flash[:error]
              %button.close{ type: :button, data: { dismiss: 'alert' }, aria: { label: :Close } }
                %span{ aria: { hidden: :true } } &times;
      .row
        .col-12
          = yield
